include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include README.rst
include tox.ini
exclude .readthedocs.yaml

recursive-include docs *
prune docs/_build
prune gists

recursive-include tests *.py
